# ATC coding rules - https://github.com/atc-net/atc-coding-rules
# Version: 1.0.0
# Updated: 25-09-2023
# Location: src
# Distribution: DotNet8
# Inspired by: https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/code-style-rule-options

##########################################
# Code Analyzers Rules
##########################################
[*.{cs,csx,cake}]

# AsyncFixer
# http://www.asyncfixer.com


# Asyncify
# https://github.com/hvanbakel/Asyncify-CSharp


# Meziantou
# https://www.meziantou.net/enforcing-asynchronous-code-good-practices-using-a-roslyn-analyzer.htm


# Microsoft - Code Analysis
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/


# Microsoft - Compiler Errors
# https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/


# SecurityCodeScan
# https://security-code-scan.github.io/


# StyleCop
# https://github.com/DotNetAnalyzers/StyleCopAnalyzers


# SonarAnalyzer.CSharp
# https://rules.sonarsource.com/csharp


##########################################
# Custom - Code Analyzers Rules
##########################################

dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.CA1848	# LF project relaxation: We accept not to use the LoggerMessage delegates. Performance impact is deemed minor
dotnet_diagnostic.CA2254	# LF project relaxation: We disregard "Template should be a static expression". Performance impact is deemed minor

[*/Dao/*.cs]
generated_code = true
dotnet_diagnostic.MA0047.severity = none
dotnet_diagnostic.MA0048.severity = none
dotnet_diagnostic.MA0132.severity = none
dotnet_diagnostic.S3903.severity = none
dotnet_diagnostic.CA1852.severity = none
dotnet_diagnostic.CA2201.severity = none
dotnet_diagnostic.SA1208.severity = none
dotnet_diagnostic.CS8603.severity = none
dotnet_diagnostic.CS8669.severity = none
dotnet_diagnostic.SA1614.severity = none
dotnet_diagnostic.SA1501.severity = none
dotnet_diagnostic.SA1503.severity = none
dotnet_diagnostic.SA1507.severity = none
dotnet_diagnostic.S112.severity = none
dotnet_diagnostic.S125.severity = none
dotnet_diagnostic.S1118.severity = none
dotnet_diagnostic.S2219.severity = none
dotnet_diagnostic.S2971.severity = none
dotnet_diagnostic.S6602.severity = none
dotnet_diagnostic.S3247.severity = none
dotnet_diagnostic.S3903.severity = none
dotnet_diagnostic.S2219.severity = none
dotnet_diagnostic.SA1513.severity = none
dotnet_diagnostic.SA1515.severity = none
dotnet_diagnostic.SA1309.severity = none
dotnet_diagnostic.SA1515.severity = none
dotnet_diagnostic.SA1520.severity = none
dotnet_diagnostic.SA1124.severity = none
dotnet_diagnostic.SA1123.severity = none
dotnet_diagnostic.SA1614.severity = none
dotnet_diagnostic.SA1616.severity = none
dotnet_diagnostic.SA1649.severity = none
dotnet_diagnostic.CS8600.severity = none
dotnet_diagnostic.IDE0005.severity = none
dotnet_diagnostic.IDE1006.severity = none
dotnet_diagnostic.IDE1005.severity = none

[*/Dao/DiSupport/*.cs]
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.CA1062.severity = none
dotnet_diagnostic.CA2254.severity = none

[*/XrmExtensions.cs]
generated_code = true
dotnet_diagnostic.S2344.severity = none
dotnet_diagnostic.S3442.severity = none
dotnet_diagnostic.S1168.severity = none
dotnet_diagnostic.S2971.severity = none

[Domain/*.cs]
generated_code = true

[Plugins/Plugin.cs]
generated_code = true
dotnet_diagnostic.MA0048.severity = none
dotnet_diagnostic.SA1402.severity = none
dotnet_diagnostic.SA1500.severity = none
dotnet_diagnostic.SA1507.severity = none
dotnet_diagnostic.SA0001.severity = none
dotnet_diagnostic.CA1724.severity = none
dotnet_diagnostic.CA1812.severity = none
dotnet_diagnostic.CA1852.severity = none
dotnet_diagnostic.S1104.severity = none
dotnet_diagnostic.S1125.severity = none
dotnet_diagnostic.S112.severity = none
dotnet_diagnostic.S6605.severity = none
dotnet_diagnostic.S3241.severity = none
dotnet_diagnostic.CS8618.severity = none
dotnet_diagnostic.IDE1005.severity = none

[Plugins/CustomAPI.cs]
generated_code = true
dotnet_diagnostic.MA0048.severity = none
dotnet_diagnostic.SA1402.severity = none
dotnet_diagnostic.SA1500.severity = none
dotnet_diagnostic.SA1507.severity = none
dotnet_diagnostic.S1104.severity = none
dotnet_diagnostic.S1125.severity = none
dotnet_diagnostic.S112.severity = none
dotnet_diagnostic.S6605.severity = none
dotnet_diagnostic.S3241.severity = none
dotnet_diagnostic.CS8618.severity = none
dotnet_diagnostic.S125.severity = none
dotnet_diagnostic.S101.severity = none
