# ATC coding rules - https://github.com/atc-net/atc-coding-rules
# Version: 1.0.0
# Updated: 25-09-2023
# Location: test
# Distribution: DotNet8
# Inspired by: https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/code-style-rule-options

##########################################
# Code Analyzers Rules
##########################################
[*.{cs,csx,cake}]

# AsyncFixer
# http://www.asyncfixer.com


# Asyncify
# https://github.com/hvanbakel/Asyncify-CSharp


# Meziantou
# https://www.meziantou.net/enforcing-asynchronous-code-good-practices-using-a-roslyn-analyzer.htm
dotnet_diagnostic.MA0004.severity = none            # https://github.com/atc-net/atc-coding-rules/blob/main/documentation/CodeAnalyzersRules/Meziantou/MA0004.md
dotnet_diagnostic.MA0016.severity = none            # https://github.com/atc-net/atc-coding-rules/blob/main/documentation/CodeAnalyzersRules/Meziantou/MA0016.md


# Microsoft - Code Analysis
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/
dotnet_diagnostic.CA1068.severity = none            # https://github.com/atc-net/atc-coding-rules/blob/main/documentation/CodeAnalyzersRules/MicrosoftCodeAnalysis/CA1068.md
dotnet_diagnostic.CA1707.severity = none            # https://github.com/atc-net/atc-coding-rules/blob/main/documentation/CodeAnalyzersRules/MicrosoftCodeAnalysis/CA1707.md
dotnet_diagnostic.CA2007.severity = none            # https://github.com/atc-net/atc-coding-rules/blob/main/documentation/CodeAnalyzersRules/MicrosoftCodeAnalysis/CA2007.md


# Microsoft - Compiler Errors
# https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/


# SecurityCodeScan
# https://security-code-scan.github.io/


# StyleCop
# https://github.com/DotNetAnalyzers/StyleCopAnalyzers
dotnet_diagnostic.SA1122.severity = none            # https://github.com/atc-net/atc-coding-rules/blob/main/documentation/CodeAnalyzersRules/StyleCop/SA1122.md
dotnet_diagnostic.SA1133.severity = none            # https://github.com/atc-net/atc-coding-rules/blob/main/documentation/CodeAnalyzersRules/StyleCop/SA1133.md


# SonarAnalyzer.CSharp
# https://rules.sonarsource.com/csharp


##########################################
# Custom - Code Analyzers Rules
##########################################

dotnet_diagnostic.CA1848.severity = none

[PluginTests/*.cs]
dotnet_diagnostic.CS8625.severity = none
dotnet_diagnostic.MA0003.severity = none

[PluginTests/LiveDebug/*.cs]
dotnet_diagnostic.SA1124.severity = none 		# regions
dotnet_diagnostic.S2699.severity = none			# at least one assert
dotnet_diagnostic.S1481.severity = none			# unused variable
dotnet_diagnostic.CA2201.severity = none		# specific exception
dotnet_diagnostic.CA1822.severity = none		# static
dotnet_diagnostic.SA1005.severity = none		# format of comments
dotnet_diagnostic.CA2000.severity = none		# dispose in scope

[PluginTests/LiveDebug/ExperimentalCloning/*.cs]
dotnet_diagnostic.SA1124.severity = none 		# regions
dotnet_diagnostic.S2699.severity = none			# at least one assert
dotnet_diagnostic.S1481.severity = none			# unused variable
dotnet_diagnostic.CA2201.severity = none		# specific exception
dotnet_diagnostic.CA1822.severity = none		# static
dotnet_diagnostic.SA1005.severity = none		# format of comments
dotnet_diagnostic.CA2000.severity = none		# dispose in scope
dotnet_diagnostic.CS8629.severity = none		# nullable value types


