<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="Environment" value="Test"/>
    <add key="JobClassName" value="ConsoleJobs.Jobs.ExampleJob"/>
    <add key="DevEnv" value="https://YOURDEVURL.dynamics.com/"/>
    <add key="TestEnv" value="https://YOURTESTURL.dynamics.com"/>
    <add key="UatEnv" value="https://YOURUATURL.dynamics.com"/>
    <add key="ProdEnv" value="https://YOURPRODURL.dynamics.com"/>
    <add key="CsvSeparator" value = ";"/>
    <add key="AuthType" value ="OAuth"/>
    <add key="Username" value = "YOURUSERNAME"/>
    <add key="LoginPrompt" value = "Always"/>
    <add key="AppId" value="51f81489-12ee-4a9e-aaae-a2591f45987d"/>
    <add key="RedirectUri" value="app://58145B91-0C36-4500-8554-080854F2AC97" />
  </appSettings>
</configuration>